* {
    /* Avoid font boosting: https://stackoverflow.com/a/41983984 */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

a {
    color: #1772d0;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f09228;
    text-decoration: none;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 1em;
    overflow-wrap: break-word;
    background-color: #fbfcfd;
    margin: 0 0;
}

.title {
    font-size: 1.5em;
    margin-top: 0;
}

.date {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.06em;
}

.session-title {
    font-size: 1.2em;
    margin-bottom: 0;
}

p {
    margin: 0.5em 0;
    line-height: 1.35;
}

#schedules {
    margin-bottom: 1.2em;
}

.wrapper {
    margin: 2em auto;
    background-color: #fff;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: calc(90% - 16px);
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%)
}

.content {
    padding: 2em 2em;
}

.horizontal-rule {
    border-top: 2px solid #d2d2d2;
    margin: 1em 0;
}

span {
    /* Force line-break if Google Calendar link spans multiple lines */
    white-space: pre;
}

#show {
    margin-bottom: 1em;
}

#schedules > .date:first-child {
    margin-top: 0.7em;
}

@media (max-width: 769px) {
    .wrapper {
        margin: 0 0;
        width: 100%;
    }
}

@media (max-width: 426px) {
    .content {
        padding: 1.2em 1.2em;
    }
}

/* Tooltip */
.shared-tooltip {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    background-color: #BCDBEA;
    border-radius: 50%;
    border-style: none;
    margin-left: 0.2em;
    margin-right: 0.5em;
    padding: 0;
    font-size: 0.9em;
    text-align: center;
}

div.shared-tooltip:before {
    content: "?";
}

.shared-tooltip:hover {
    cursor: help;
}

.zero-margin {
    margin: 0 !important;
}

.legend {
    display: inline-block;
}