<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="MIT Open Recreation Badminton - Unofficial Schedule">

        <title>MIT Open Rec Badminton Schedule</title>
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-71827372-1','auto');ga('send','pageview');</script>

        <link rel="icon" type="image/png" href="https://shen.nz/images/mit_logo.svg">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">

        <!-- For showing/hiding previous sessions -->
        <script type="text/javascript">
            function showOldSchedules() {
                document.getElementById('old-schedules').style.display='block';
                document.getElementById('show').style.display='none';
                document.getElementById('hide').style.display='block';
            }

            function hideOldSchedules() {
                document.getElementById('old-schedules').style.display='none';
                document.getElementById('show').style.display='block';
                document.getElementById('hide').style.display='none';
            }
        </script>

        <!-- Open all links (i.e. Google Calendar) in new tab -->
        <base target="_blank">
    </head>

    <body>
        <div class="wrapper">
            <div class="content">
                <h2 class="title">MIT Open Rec Badminton - Unofficial Schedule</h2>
                <p>
                    You should check this website regularly as the schedule may change unexpectedly.<br>
                    Last updated on {{ current_date_str }} Boston time.
                </p>
                <div class="horizontal-rule"></div>
                {% if past_date_to_schedules %}
                    <div id='old-schedules' style='display: none;'>
                        <h3 class="session-title">Past Sessions</h3>
                        {% for date, schedules in past_date_to_schedules.items() %}
                            <div class='date'>{{ date }}</div>
                            {% if schedules %}
                                {% for schedule in schedules %}
                                    <div class='schedule'>
                                        <p>{{ schedule.to_html() }}</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No sessions.</p>
                            {% endif %}
                        {% endfor %}
                        <div class="date"></div>
                    </div>

                    <!-- Show and hide buttons for past sessions -->
                    <div id="show">
                        <a href="javascript:void(0)" target="_self" onclick="showOldSchedules()">Show previous sessions</a>
                    </div>
                    <div id="hide" style="display:none;">
                        <a href="javascript:void(0)" target="_self" onclick="hideOldSchedules()">Hide previous sessions</a>
                        <div class="horizontal-rule"></div>
                        <h3 class="session-title">Upcoming Sessions</h3>
                    </div>
                {% endif %}

                <!-- Upcoming Sessions -->
                <div id="schedules">
                    {% for date, schedules in upcoming_date_to_schedules.items() %}
                        <div class='date'>{{ date }}</div>
                        {% if schedules %}
                            {% for schedule in schedules %}
                                <div class='schedule'>
                                    <p>{{ schedule.to_html() }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No sessions.</p>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Legend for shared tooltip -->
                <div class="legend">
                    <div class="shared-tooltip zero-margin"></div>
                    = Shared Open Rec session with other sports, so badminton court space is not guaranteed.
                </div>

                <!-- Break before footer -->
                <div class="horizontal-rule"></div>

                <!-- Footer -->
                <p><strong>Court Guide:</strong> Rockwell courts are less slippery than du Pont.</p>
                <p>
                    <strong>Notes:</strong> updated every 30 minutes from the
                    <a href="https://shen.nz/badminton/recschedule-latest.pdf">latest recschedule</a> downloaded by the server.
                    <br>
                    You can find the original recschedule at: <a href="https://www.mitrecsports.com/work-out/open-recreation/">https://www.mitrecsports.com/work-out/open-recreation/</a>
                </p>
                <p>
                </p>
                <p>There is no guarantee for accuracy. Please contact willshen at mit.edu with any questions or issues.</p>
                <p><a href="https://github.com/williamshen-nz/recschedule-website">Open Source on GitHub</a>. Feel free to contribute!</p>

                <!-- Debug payload -->
                <p id="payload"><strong>Request Payload:</strong> {{ payload }}</p>
            </div>

            <!-- For tooltips -->
            <script src="https://unpkg.com/@popperjs/core@2"></script>
            <script src="https://unpkg.com/tippy.js@6"></script>
            <script>
                tippy('button.shared-tooltip', {
                    content: 'Shared session with other sports, so space is not guaranteed.',
                    size: 'large'
                });
            </script>
        </div>
    </body>
</html>